@charset "utf-8";
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  font-size: medium;
  font-family: 'Amatic SC', cursive;
  font-size: medium;
  text-align: left;
  height: 120px;
  width: 100%;
  background: linear-gradient(45deg, rgb(19, 30, 229), rgb(156, 204, 229));
  color: rgb(237, 202, 202);
  padding: 0 20px;
  box-sizing: border-box;
}

.header h1 {
  margin-top: 15px; /* デフォルトのマージンを削除 */
  align-self: flex-start; /* 垂直方向に上に寄せる */
}

.header .shortcut {  
  display:flex;
  gap: 10px;
  align-items: flex-end;
  height: 100%; 
  margin-bottom: 10px;
}

.header .shortcut a {
  color: rgb(237, 202, 202);
}

.header .shortcut a:hover {
  color: rgb(19, 30, 229);
}

main {
  font-size: small;
  width: 100%;
  flex: 1;
  margin: auto;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

footer {
  height: 35px;
  width: 100%;
  background: linear-gradient(45deg, rgb(19, 30, 229), rgb(156, 204, 229));
  position: absolute;
  bottom: 0;
  color: rgb(237, 202, 202);
  font-size: smaller;
  text-align: center;
}


.container {
  width: 448px ;
  margin: 120px auto;
  padding: 24px 24px;
  background-color: #ffffff;
  border: 0.3px solid hwb(0 89% 9%);
  border-radius: 8px;
  box-shadow: 1px 2px 5px hwb(0 88% 11%);
}
input[type="text"],
input[type="password"] {
  width: 93%;
  padding: 12px 16px;
  margin-bottom: 10px;
  border: 0.3px solid hwb(0 89% 9%);
  border-radius: 8px;
}

button[type="submit"] {
  width: 100%;
  margin: 10px auto;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(19, 30, 229);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(237, 202, 202);
}


form label, form input {
  display: block;
  margin-bottom: 5px;
}


#form_and_btn {
  width: 600px;
  margin: 70px auto;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#serch {
  width: 500px;
  margin: 120px auto;
  display: flex;
}

#serch #details {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

}

#serch #details form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#serch #details input[type="month"] {
  width: 85%; 
  padding: 7px 15px;
  font-size: 13px;
  margin: 5px auto;
  box-sizing: border-box;
  border: 0.3px solid hwb(0 89% 9%);
  border-radius: 8px;
  
}

#station_name {
  width: 100%; 
  padding: 10px 15px;
  font-size: 13px;
  margin: 10px auto;
  box-sizing: border-box;
  border: 0.3px solid hwb(0 89% 9%);
  border-radius: 8px;
}

#options {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;   
}
#options #spotregister {
  width: 90%; 
  padding: 5px 10px;
  font-size: 13px;
}
#options #histories {
  width: 90%; 
  padding: 5px 5px;
  font-size: 13px; 
  box-sizing: border-box;
  border: 0.3px solid hwb(0 89% 9%);
  border-radius: 8px;
}


