<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUN Chaser</title>
  <link rel="icon" href="../static/img/clear_day.svg" id="favicon">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header class="header" >
    <h1>SUN Chaser</h1>
    <div class="shortcut">
      <a href="{{ url_for('serch') }}">Serch</a>
      <a href="{{ url_for('profile') }}">Setting</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock%}
  </main>
  <footer>
    <p>&copy;2024 SUN Chaser abyMaya</p>
  </footer>
</body>
</html>