<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUN Chaser</title>
  <link rel="icon" href="../static/img/clear_day_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" id="favicon">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header class="header" >
    <h1>SUN Chaser</h1>
    <div class="shortcut">
      <a href="/profile">Setting</a>
      <a href="/logout">Logout</a>
    </div>
  </header>
  <main>
    <div id="form_and_btn">
      <div id="serch">
        <div id="details">
          <label for="spotsSelect">Select Spot</label>
          <form>
            <select id="spotsSelect" name="spotsSelect" required>
              <option value="" selected disabled></option>
            </select>
          </form>
          
        </div>
            
        <img src="../static/img/add_20dp.png">
        <div id="details">
          <form id="search-form" action="result.html">
            <label>Select Month</label>
            <input type="month" id="month" name="month" required>      
          </form>
        </div>
      </div>
       
      <button id="serch-button" type="submit" onclick="submitForm()">Find the SUN!!</button>
          </form>
      <div id="options">
        <a href="/profile" id="spotregister">観光地新規登録</a>
        <form>
          <select id="histories">
            <option>保存済みの検索条件</option>
            <option>東京タワー＋2024/10</option>
            <option>鎌倉＋2024/10</option>
            <option>上高地＋2024/10</option>
            <option>日光＋2024/10</option>
          </select>
        </form>
      </div> 
    </div>   
    
  </main>
  <footer>
    <p>&copy;2024 SUN Chaser abyMaya</p>
  </footer>

  <script src="../static/js/serch.js"></script>
</body>
</html>