<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUN Chaser</title>
  <link rel="icon" href="../static/img/clear_day_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" id="favicon">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/setting.css">
</head>

<body>
  <header class="header" >
    <h1>SUN Chaser</h1>
    <div class="shortcut">
      <a href="serch.html">Serch</a>
      <a href="setting.html">Setting</a>
      <a href="login.html">Logout</a>
    </div>
  </header>
  <main>
      <div class="setting">
        <div class="left">
          <div class="left-top">

            <div>
              <div class="section_title">
                ユーザー情報
              </div>
              <div class="info">
                <span>ユーザー名</span>
              </div>
              <div class="info">
                <span>Email</span>
              </div>
              <div class="info">
                <span>Password変更</span>
              </div>
          
            </div> 

          </div>

          <div class="left-bottom">
            <button><a href="#">観光地情報・検索条件リスト管理</a></button>            
          </div>

        </div>
        <div class="right">        
          <div class="section_title">
            観光地登録
          </div>            
          <div>
            <form class="spot_register">
              <label>観光地名</label>
              <input type="text" id="spot" name="spot" placeholder="Value"/>
              <label id="place">所在地</label>
              <select id="station_name" name="station_name" placeholder="Value">
                <option value="" selected disabled></option>
                <option value="tokyo">関東甲信越</option>
                <option value="osaka">北海道東北</option>
                <option value="kyoto">関西中部</option>
                <option value="hiroshima">九州沖縄</option>
              </select>
              <label>メモ</label>
              <input type="text" id="memo" name="memo" placeholder="Value"/>
              <button type="submit">登録</button>
            </form>
          </div>
        </div>
      </div>  
    
     
     <script src="../static/js/result.js"></script>
    </main>
    <footer>
      <p>&copy;2024 SUN Chaser abyMaya</p>
    </footer>
   
  </body>
  </html>