<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUN Chaser</title>
  <link rel="icon" href="../static/img/clear_day_16dp_EA3323_FILL0_wght400_GRAD0_opsz20.svg" id="favicon">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <header class="header" >
    <h1>SUN Chaser</h1>
  </header>
  <main>
    <div class="container">
      <form id="signupForm" action="/signup" method="POST">
        <label>User name</label>
        <input type="text" id="user_name" name="user_name" placeholder="Value"/>
        <label >Email</label>
        <input type="text" id="email" name="email" placeholder="Value"/>
        <label>Password</label>
        <input type="password" id="password1" name="password1"placeholder="Value"/> 
        <label>Password再入力</label>
        <input type="password" id="password2" name="password2"placeholder="Value"/>
        <button type="submit" >Sign Up</button> 
      </form>
      <div style="text-align: right; margin-top: 10px;">
        <a href="{{ url_for('login') }}">ログインはこちら</a>
      </div>
    </div>
  </main>
  <footer>
    <p>&copy;2024 SUN Chaser abyMaya</p>
  </footer>
</body>
</html>


